html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif !important;
}

.our-primary {
  color: rgb(24, 143, 255) !important;
}

button.our-btn-primary {
  background-color: rgb(24, 143, 255) !important;
  border: 1px solid rgb(24, 143, 255);
  outline: none !important;
}

.our-bg-primary {
  background-color: rgb(24, 143, 255);
}

button.our-btn-primary:hover {
  border: 1px solid rgb(24, 143, 255);
}

nav {
  transition: all 0.5s ease-in;
}

nav.fixed-top.scrolled a.nav-link {
  color: black !important;
}

.navbar-brand {
  color: rgb(24, 143, 255) !important;
  font-weight: 900;
  font-size: 2rem;
}

button.navbar-toggler {
  outline: none;
  border: none;
  font-size: 2rem;
  font-weight: 600;
}

.menu-navbar {
  font-size: medium;
}

a.nav-link {
  font-weight: 900;
  transition: all 0.3s ease-in;
}

a.nav-link:hover,
nav.fixed-top.scrolled a.nav-link:hover {
  color: rgb(24, 143, 255) !important;
}

a.active,
nav.fixed-top.scrolled a.active {
  color: rgb(24, 143, 255) !important;
  text-decoration: underline;
}

.hero1 {
  background: url(images/heroimg1.jpg) no-repeat center center fixed;
}

.hero2 {
  background: url(images/heroimg2.jpg) no-repeat center center fixed;
}

.hero3 {
  background: url(images/heroimg3.jpg) no-repeat center center fixed;
}

.hero1,
.hero2,
.hero3 {
  background-size: cover;
}

@media only screen and (min-width: 769px) {
  nav {
    height: 100px;
  }

  nav.fixed-top.scrolled {
    height: 80px;
  }
}
